<div><b>{{message}}</b></div>
<div>
  <div class="form-group">
    <input style="width: 100%" [(ngModel)]="searchText" class="form-control" placeholder="search text goes here">
  </div>
  <form [formGroup]="selectForm" class="well">
    <div class="formGroup" *ngIf="multi">
      <ul>
        <div formArrayName="objects" class="option-box" *ngFor="let object of objectsArray.controls; let i = index;">
          <div [formGroupName]="i">
            <li [class.active-option]="object.controls.isActive.value" *ngIf="object.controls.isActive.value">
              <button class="btn btn-danger" (click)="removeActive(object)"><i class="fa fa-times" aria-hidden="true"></i></button>
              &nbsp;<label>{{object.value.name}}</label>
            </li>
          </div>
        </div>
      </ul>
      <hr>
      <ul>
        <div formArrayName="objects" class="option-box" *ngFor="let object of objectsArray.controls | searchFilter : searchText; let i = index;">
          <div [formGroupName]="i">
            <li [class.active-option]="object.controls.isActive.value" *ngIf="!object.controls.isActive.value">
              <button class="btn btn-info" (click)="setActive(object)"><i class="fa fa-plus-circle" aria-hidden="true"></i></button>
              &nbsp;<label>{{object.value.name}}</label>      
            </li>
          </div>
        </div>
      </ul>
    </div>
    <div class="formGroup" *ngIf="!multi">
      <ul>
        <div class="radio-group">
          <div class="radio" *ngFor="let in of input | searchFilter : searchText" (change)="onUpdate(in)">
            <li><label><input type="radio" name="user" value="{{in.value}}">{{in.name}}</label></li>
          </div>
        </div>
      </ul> 
    </div>
  </form>
</div>