<div>
  <div><b>{{message}}</b></div>
  <div>
    <form [formGroup]="queryForm" class="form-group">
      <input style="width: 100%" (focus)="onFocusToggle()"class="form-control"
        formControlName="query" placeholder="search text goes here">
    </form>
    <form [formGroup]="selectForm" class="well" [hidden]="!focus">
      <div class="formGroup" *ngIf="multi">
        <ul>
          <div formArrayName="objects" class="option-box" *ngFor="let object of objectsArray.controls | searchFilter : queryForm.value.query:clientSearch; let i = index;">
            <div [formGroupName]="i">
              <li [class.active-option]="object.controls.isActive.value" *ngIf="!object.controls.isActive.value">
                <input type="checkbox" value="object.value" formControlName="isActive">{{object.value.name}}    
              </li>
            </div>
          </div>
        </ul>
        <ul>
          <div formArrayName="objects" class="option-box" *ngFor="let object of objectsArray.controls; let i = index;">
            <div [formGroupName]="i">
              <li  [class.active-option]="object.controls.isActive.value" *ngIf="object.controls.isActive.value">
                <input type="checkbox" value="object.value" formControlName="isActive">{{object.value.name}}
              </li>
            </div>
          </div>
        </ul>
        <hr>
      </div>
      <div class="formGroup" *ngIf="!multi">
        <ul>
          <div class="radio-group">
            <div class="radio" *ngFor="let in of input | searchFilter2 : queryForm.value.query:clientSearch" (change)="onUpdate(in)">
              <li><label><input type="radio" name="user" value="{{in.value}}">{{in.name}}</label></li>
            </div>
          </div>
        </ul> 
      </div>
    </form>
  </div>
</div>